{% extends "base.html" %}
{% load cms_tags menu_tags sekizai_tags %}
{% load static from pipeline_extra %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block content %}
    <section id="content-landing">
        <div class="breadcrumbs">
            <div class="wrapper">
                <p>
                {% block breadcrumbs %}
                    {% show_breadcrumb 0 "partials/breadcrumb.html" 0 %}
                {% endblock breadcrumbs %}
                </p>
            </div>
        </div>
        <div class="landing-wrapper cf">

            <h3 class="charity">CHARITY PLACES</h3>

            <div class="article-content">
            {% static_placeholder "content" %}

                <div class="countryListings">
                    <a href="{% url 'listings:filter_listings' filter_term='UK' %}"
                       class="listings-flag listings-flag-uk">UK Listings</a>
                    <a href="{% url 'listings:filter_listings' filter_term='USA' %}"
                       class="listings-flag listings-flag-us">US Listings</a>
                    <a href="{% url 'listings:filter_listings' filter_term='AUS' %}"
                       class="listings-flag listings-flag-au">Australian Listings</a>
                    <a href="{% url 'listings:filter_listings' filter_term='NZ' %}"
                       class="listings-flag listings-flag-nz">New Zealand Listings</a>
                    <br class="clear"/>
                </div>

                <ul class="charityList">
                {% for listing in tier_1 %}
                    <li class="{{ listing.display_class }}">
                        <div class="logo">
                            <a href="{% url 'listings:redirect_listings' charity_id=listing.id %}" target="_blank">
                                <img src="{{ listing.display_logo }}"
                                alt="{{ listing.charity_name }}"/>
                            </a>
                        </div>
                        <h2>{{ listing.id }} {{ listing.charity_name }}</h2>

                        <p class="contact">
                            Contact {{ listing.contact_name }} on {{ listing.contact_phone }}
                        </p>
                        <p class="full-width">{{ listing.charity_desc }}</p>
                        <p>
                            <a href="{% url 'listings:redirect_listings' charity_id=listing.id %}" target="_blank">
                                Find out more information
                            </a>
                        </p>
                    </li>
                {% endfor %}

                {% for listing in tier_2 %}
                    <li class="{{ listing.display_class }}{% if forloop.first %} first {% endif %}">
                        <div class="logo">
                            <a href="{% url 'listings:redirect_listings' charity_id=listing.id %}" target="_blank">
                                <img src="{{ listing.display_logo }}"
                                alt="{{ listing.charity_name }}"/>
                            </a>
                        </div>
                        <h2>{{ listing.id }} {{ listing.charity_name }}</h2>

                        <p class="contact">
                            Contact {{ listing.contact_name }} on {{ listing.contact_phone }}
                        </p>
                        <p class="full-width">{{ listing.charity_desc }}</p>
                        <p>
                            <a href="{% url 'listings:redirect_listings' charity_id=listing.id %}" target="_blank">
                                Find out more information
                            </a>
                        </p>
                    </li>
                {% endfor %}
                {% for listing in tier_3 %}
                    <li class="{{ listing.display_class }}{% if forloop.first %} first {% endif %}">
                        <div class="logo">
                            <a href="{% url 'listings:redirect_listings' charity_id=listing.id %}" target="_blank">
                                <img src="{{ listing.display_logo }}"
                                alt="{{ listing.charity_name }}"/>
                            </a>
                        </div>
                        <h2>{{ listing.id }} {{ listing.charity_name }}</h2>

                        <p class="contact">
                            Contact {{ listing.contact_name }} on {{ listing.contact_phone }}
                        </p>
                        <p class="full-width">{{ listing.charity_desc }}</p>
                        <p>
                            <a href="{% url 'listings:redirect_listings' charity_id=listing.id %}" target="_blank">
                                Find out more information
                            </a>
                        </p>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div id="pagination">
                <a href="{% url 'listings:filter_listings' filter_term='a' %}">A</a>
                <a href="{% url 'listings:filter_listings' filter_term='b' %}">B</a>
                <a href="{% url 'listings:filter_listings' filter_term='c' %}">C</a>
                <a href="{% url 'listings:filter_listings' filter_term='d' %}">D</a>
                <a href="{% url 'listings:filter_listings' filter_term='e' %}">E</a>
                <a href="{% url 'listings:filter_listings' filter_term='f' %}">F</a>
                <a href="{% url 'listings:filter_listings' filter_term='g' %}">G</a>
                <a href="{% url 'listings:filter_listings' filter_term='h' %}">H</a>
                <a href="{% url 'listings:filter_listings' filter_term='i' %}">I</a>
                <a href="{% url 'listings:filter_listings' filter_term='j' %}">J</a>
                <a href="{% url 'listings:filter_listings' filter_term='k' %}">K</a>
                <a href="{% url 'listings:filter_listings' filter_term='l' %}">L</a>
                <a href="{% url 'listings:filter_listings' filter_term='m' %}">M</a>
                <a href="{% url 'listings:filter_listings' filter_term='n' %}">N</a>
                <a href="{% url 'listings:filter_listings' filter_term='o' %}">O</a>
                <a href="{% url 'listings:filter_listings' filter_term='p' %}">P</a>
                <a href="{% url 'listings:filter_listings' filter_term='q' %}">Q</a>
                <a href="{% url 'listings:filter_listings' filter_term='r' %}">R</a>
                <a href="{% url 'listings:filter_listings' filter_term='s' %}">S</a>
                <a href="{% url 'listings:filter_listings' filter_term='t' %}">T</a>
                <a href="{% url 'listings:filter_listings' filter_term='u' %}">U</a>
                <a href="{% url 'listings:filter_listings' filter_term='v' %}">V</a>
                <a href="{% url 'listings:filter_listings' filter_term='w' %}">W</a>
                <a href="{% url 'listings:filter_listings' filter_term='x' %}">X</a>
                <a href="{% url 'listings:filter_listings' filter_term='y' %}">Y</a>
                <a href="{% url 'listings:filter_listings' filter_term='z' %}">Z</a>
            </div>
        </div>
        <div class="clear"></div>
    </section>
{% addtoblock "css" %}
    <style type="text/css">
        .pagination {
            border-top: 1px #ccc solid;
            height: 27px;
            display: block;
            padding: 8px 0 8px 0;
            text-align: center;
            border-bottom: 1px #ccc solid;
        }

        .pagination a {
            border: 1px solid #333333;
            display: block;
            float: left;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            margin-bottom: 5px;
            margin-right: 5px;
            padding: 0.3em 0.5em;
        }

        .pagination a:hover {
            text-decoration: none;
        }

        .pagination.select {
            border-color: #000000;
            color: #000000;
        }

        .pagination .current {
            border: 1px solid #999999;
            color: #999999;
            text-decoration: none;
        }

        .pagination span.prev {
            font-weight: bold;
        }

        .pagination a.all {
        }

        .pagination a.current {
            font-weight: bold;
            background: #ececec;
            color: #666;
            text-decoration: none;
            border-color: #666;
            display: block;
        }

        .pagination span.results {
            font-weight: normal;
            float: right;
        }

        .bottom {
            margin: 10px 0 30px 0;
            border-top: 1px solid #ccc;
        }

        .pagination .show a {
            border: none;
            padding: 0px 3px 0px 3px;
            margin: 0px;
            display: inline;
            float: none;
        }

        .pagination .show a.sel {
            font-weight: bold;
            text-decoration: none;
        }

        .pagination .show {
            border: none;
            padding: 0px;
            margin: 0px 0 0 14px;
            width: auto;
            height: 20px;
            float: right;
        }
    </style>
{% endaddtoblock %}
{% endblock content %}